@import "/src/assets/themes/themes.scss";

.background{
    @include themify($themes){
        background: themed("background")
    } ;

    width: 2560px;
    height: 1250px;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button-theme{
    width: 40px;
    height: 40px;
    border: none;
    // color: rgb(0, 0, 0);
    background: url(/assets/image/bulb-white.png);
    background-size: contain;
    position: absolute;
    top: 40px; left: 40px;
}