/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
// background: url(https://look.com.ua/pic/201806/1920x1080/look.com.ua-290575.jpg);
    background: linear-gradient(to top, #497ce8 0%, #68eacc 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
